- @pc  = YAML.load_file('lib/data/content/staff.en.yml')[I18n.locale.to_s]['staff']
%h1 Faculty

.row{ style: 'margin-top: 40px;' }
  .col-md-2.col-sm-3.col-sm-offset-0.col-xs-4.col-xs-offset-4
    = image_tag 'redline_200x200.jpg', class: 'team-member-picture'
  .col-md-10.col-sm-9.col-xs-12
    %h2{ style: 'margin-top: 0px;' }
      Susan Redline
      %span.text-muted MD, MPH
    %h5
      Susan Redline is the Peter C. Farrell Professor of Sleep Medicine at Harvard Medical School and Director of the Programs in Sleep and Cardiovascular Medicine and Sleep Medicine Epidemiology at Brigham and Women’s Hospital and Beth Israel Deaconess Medical Center. She is an internationally recognized researcher focusing on understanding the risk factors and treatment outcomes of sleep disorders. She has published more than 200 scientific articles and participates in many national organizations involved in setting policies for sleep medicine practice and research.
.row{ style: 'margin-top: 40px;' }
  .col-md-2.col-sm-3.col-sm-offset-0.col-xs-4.col-xs-offset-4
    = image_tag 'http://placehold.it/200/bbb/fff&text=Sanjay+Patel', class: 'team-member-picture'
  .col-md-10.col-sm-9.col-xs-12
    %h2{ style: 'margin-top: 0px;' }
      Sanjay Patel
      %span.text-muted MD, MS
    %h5
      Associate Physician, Division of Sleep Medicine, Department of Medicine, Brigham and Women’s Hospital
      %br
      Associate Physician, Division of Pulmonary, Critical Care, and Sleep Medicine, Beth Israel Deaconess Medical Center
.row{ style: 'margin-top: 40px;' }
  .col-md-2.col-sm-3.col-sm-offset-0.col-xs-4.col-xs-offset-4
    = image_tag 'http://placehold.it/200/bbb/fff&text=Daniel+Gottlieb', class: 'team-member-picture'
  .col-md-10.col-sm-9.col-xs-12
    %h2{ style: 'margin-top: 0px;' }
      Daniel Gottlieb
      %span.text-muted MD, MPH
    %h5
      Director, Sleep Disorders Center, Department of Medicine, VA Boston Healthcare System
.row{ style: 'margin-top: 40px;' }
  .col-md-2.col-sm-3.col-sm-offset-0.col-xs-4.col-xs-offset-4
    = image_tag 'http://placehold.it/200/bbb/fff&text=Rui+Wang', class: 'team-member-picture'
  .col-md-10.col-sm-9.col-xs-12
    %h2{ style: 'margin-top: 0px;' }
      Rui Wang
      %span.text-muted PhD
    %h5
      Assistant Professor in the Department of Biostatistics, Harvard School of Public Health
%hr
%h1 Trainees
.row{ style: 'margin-top: 40px;' }
  .col-sm-4
    .trainee
      %p{ style: 'margin-bottom: 0px;' }
        Jessie P. Bakker, PhD
        %span.text-muted Instructor of Medicine
      = link_to 'jpbakker@partners.org', 'mailto:jpbakker@partners.org'
    .trainee
      %p{ style: 'margin-bottom: 0px;' }
        Suzanne Bertisch, MD, MPH
        %span.text-muted Instructor of Medicine
      = link_to 'sbertisc@bidmc.harvard.edu', 'mailto:sbertisc@bidmc.harvard.edu'
    .trainee
      %p{ style: 'margin-bottom: 0px;' }
        Brian Cade, PhD
        %span.text-muted Instructor of Medicine
      = link_to 'bcade@rics.bwh.harvard.edu', 'mailto:bcade@rics.bwh.harvard.edu'
  .col-sm-4
    .trainee
      %p{ style: 'margin-bottom: 0px;' }
        Anne-Marie Chang, PhD
        %span.text-muted Instructor of Medicine
      = link_to 'amchang@rics.bwh.harvard.edu', 'mailto:amchang@rics.bwh.harvard.edu'
    .trainee
      %p{ style: 'margin-bottom: 0px;' }
        Xiaoli Chen, Ph.D.
        %span.text-muted Research Associate
      = link_to 'xchen@hsph.harvard.edu', 'mailto:xchen@hsph.harvard.edu'
    .trainee
      %p{ style: 'margin-bottom: 0px;' }
        Dennis Dean, PhD
        %span.text-muted Research Fellow in Medicine
      = link_to 'ddean@rics.bwh.harvard.edu', 'mailto:ddean@rics.bwh.harvard.edu'
  .col-sm-4
    .trainee
      %p{ style: 'margin-bottom: 0px;' }
        Katherine Dudley, MD
        %span.text-muted Clinical & Research Fellow
      = link_to 'kdudley@partners.org', 'mailto:kdudley@partners.org'
    .trainee
      %p{ style: 'margin-bottom: 0px;' }
        Sogol Javaheri, MD
        %span.text-muted Clinical Fellow
      = link_to 'sjavaheri@partners.org', 'mailto:sjavaheri@partners.org'
    .trainee
      %p{ style: 'margin-bottom: 0px;' }
        Mirja Quante, PhD
        %span.text-muted Postdoctoral Fellow
      = link_to 'mirja.quante@medizin.uni-leipzig.de', 'mailto:mirja.quante@medizin.uni-leipzig.de'
%hr
- group1 = []; group2 = []; group3 = [];
- @pc['members'].each_with_index do |member, index|
  - if index % 3 == 0
    - group1.push(member)
  - elsif index % 2 == 0
    - group3.push(member)
  - else
    - group2.push(member)
%h1 Staff
.row{ style: 'margin-top: 40px;' }
  .col-sm-4
    - group1.each_with_index do |member, index|
      .trainee
        %p{ style: 'margin-bottom: 0px;' }
          = member["name"]
          %span.text-muted= member["pos"]
        = link_to "#{member['email']}", "mailto:#{member['email']}"
  .col-sm-4
    - group2.each_with_index do |member, index|
      .trainee
        %p{ style: 'margin-bottom: 0px;' }
          = member["name"]
          %span.text-muted= member["pos"]
        = link_to "#{member['email']}", "mailto:#{member['email']}"
  .col-sm-4
    - group3.each_with_index do |member, index|
      .trainee
        %p{ style: 'margin-bottom: 0px;' }
          = member["name"]
          %span.text-muted= member["pos"]
        = link_to "#{member['email']}", "mailto:#{member['email']}"
